<h1 class="animates fadeIn fast">Great houses <small>Game of Thrones</small></h1>
<hr>
<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let item of houses; let i = index">
        <img [src]="item.img" class="card-img-top" [alt]="item.house">
        <div class="card-body">
          <h5 class="card-title">{{ item.house }}</h5>
          <p class="card-text">{{ item.bio }}</p>
          <p class="card-text"><small class="text-muted">{{ item.founder }}</small></p>
          <button (click)="seeHouses(i)"
          type="button" class="btn btn-outline-primary btn-block">More...</button>
        </div>
    </div>
</div>